:root {
    /*Primary*/

    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);

    /*Neutral*/

    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.contenedor{
    margin: 30px;
}

.cabecera-left h1{
    color: var(--VeryDarkMagenta);
    font-size: 45px;
    text-align: center;
}

.cabecera-left p{
    color: var(--DarkGrayishMagenta);
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    
}

.rated{
    background-color: var(--LightGrayishMagenta);
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.rated span{
    color:var(--VeryDarkMagenta);
    font-weight: 600;
}

.stars{
    display: flex;
    gap: 10px;
}

.card{
    background-color: var(--VeryDarkMagenta);
    margin-top: 30px;
    padding: 25px;
    border-radius: 10px;
}

.card p{
    color: white;
    line-height: 22px;
}

.card-header{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.card-header img{
    width: 50px;
    border-radius: 100px;
}


.autor span{
    color: var(--SoftPink);
}
.autor h4{
    color: white;
    margin: 0 0 5px 0;

}
@media screen and (min-width: 768px) {
    
    body{
        background-image: url('../img/bg-pattern-top-desktop.svg'), url('../img/bg-pattern-bottom-mobile.svg');
        background-position: top left, bottom right;
        background-repeat: no-repeat, no-repeat;
        background-size: auto, auto;
    }
    

    .contenedor{
        margin: 120px;
    }
    .cabecera{
        display: flex;
        justify-content: space-between;
    }
    .cabecera-left{
        width: 40%;
    }
    .cabecera-left h1, .cabecera-left p{
        text-align: left;
    }

    .rated{
        display: flex;
        flex-direction: row;
    }
    #rated-1{
        margin-right: 100px;
        margin-left: -100px;
    }

    #rated-2{
        margin-right: 50px;
        margin-left: -50px;
    }



    .footer{
        display: flex;
        gap: 20px;
        align-items: flex-start;
    }

    #card-2{
        margin-top: 50px;
    }

    #card-3{
        margin-top: 100px;
    }
    
}
